<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Innovify</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a >Step 3</a></li>
        <li class="active"><a [routerLink]="['/step1']">New Transaction</a></li>
      </ul>
     
    </div>
  </nav>
  <div class="container">
      <form action="/action_page.php">
        <!-- <div class="col"> -->
          <!-- <h2 >Login with Social Media or Manually</h2> -->
         
    
       
          
          <!-- <div class="col" id="colId"> -->
            <!-- <div class="hide-md-lg">
              <p>Or sign in manually:</p>
            </div> -->
            <div class="col" id="colId">
            <label style="width:70%"> <h2>Notes</h2></label>
            <div class="alert alert-info">
                
                <p>Number of 2000 Notes:<strong>{{two_note_used}}</strong></p>
                <p>Number of 500  Notes:<strong>{{five_note_used}}</strong></p>
                <p>Number of 100  Notes:<strong>{{hund_note_used}}</strong></p>
              </div>
           
            </div>


            <div class="col" id="colId">
                <label style="width:70%"> <h2>Card Balance</h2></label>
                <div class="alert alert-warning">
                    New Balance: <strong>{{left_balance}}</strong> INR 
                  </div>
            </div>
    
        <!-- </div> -->
      </form>
    </div>
    
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a  style="color:white" class="btn">Help</a>
        </div>
        <div class="col">
          <a style="color:white" class="btn">Feedback</a>
        </div>
      </div>
    </div>
  