<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Innovify</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/welcome']">Step 2</a></li>
        <li class="active"><a [routerLink]="['/step1']">Go Back</a></li>
        
      </ul>
     
    </div>
  </nav>
  <div class="container">
      <form action="/action_page.php">
        <!-- <div class="col"> -->
          <!-- <h2 >Login with Social Media or Manually</h2> -->
         
    
       
          
          <!-- <div class="col" id="colId"> -->
            <!-- <div class="hide-md-lg">
              <p>Or sign in manually:</p>
            </div> -->
            <div class="col" id="colId">
            <label style="width:70%"> <h2>Enter Withdraw Amount</h2></label>
            <input type="number" [(ngModel)]="withdrw_amount" maxlength="6"   name="username" placeholder="Amount to WithDraw" required style="width:80%">
           
            <details>
                <summary>Enter Valid Amount</summary>
                <p>     1) Amount should be in multiply of 100</p>
                <p>     2) please Ensure the sufficient amount in Account</p>
            </details>
            <button (click)="withDrawAmount()" style="width:80%" class="btn btn-primary" title="validate card">Validate & Next</button>
            </div>


            <div class="col" id="colId">
                <label style="width:70%"> <h2>Balance</h2></label>
                <div class="alert alert-success">
                    Available Balance: <strong>{{card_balance}}</strong> INR 
                  </div>
            </div>
    
        <!-- </div> -->
      </form>
    </div>
    
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a  style="color:white" class="btn">Help</a>
        </div>
        <div class="col">
          <a style="color:white" class="btn">Feedback</a>
        </div>
      </div>
    </div>
  