<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Innovify</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/welcome']">Step 1</a></li>
        
      </ul>
     
    </div>
  </nav>
  <div class="container">
      <form action="/action_page.php">
        <!-- <div class="col"> -->
          <!-- <h2 >Login with Social Media or Manually</h2> -->
         
    
       
          
          <!-- <div class="col" id="colId"> -->
            <!-- <div class="hide-md-lg">
              <p>Or sign in manually:</p>
            </div> -->
            <div class="col" id="colId">
            <label style="width:70%"> <h2>Enter Card Details</h2></label>
            <input type="number" [(ngModel)]="cardNo"  name="username" placeholder="Card Number" required style="width:80%">
            <input type="password"[(ngModel)]="pinNo" name="password" maxlength="6" placeholder="PinCode" required style="width:80%">
            <button (click)="validateCard()" style="width:80%" class="btn btn-primary" title="validate card">Validate & Next</button>
            </div>
    
        <!-- </div> -->
      </form>
    </div>
    
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a  style="color:white" class="btn">Help</a>
        </div>
        <div class="col">
          <a style="color:white" class="btn">Feedback</a>
        </div>
      </div>
    </div>
  